<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.why_w9">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WHY_W9"
        tools:replace="android:theme">
        <activity android:name=".HostSchedules"></activity>
        <activity android:name=".FoodAnalytics" />
        <activity android:name=".OperationsInformation" />
        <activity android:name=".DailyTraffic" />
        <activity android:name=".AnalyticsOptions" />
        <activity android:name=".Cart" />
        <activity android:name=".DriverSchedules" />
        <activity android:name=".BusboySchedules" />
        <activity android:name=".WaiterSchedules" />
        <activity android:name=".ChefSchedules" />
        <activity android:name=".EmployeeSchedules" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login" />
        <activity android:name=".register" />
        <activity android:name=".customer_home" />
        <activity android:name=".manager_home" />
        <activity android:name=".waiter_home" />
        <activity android:name=".driver_home" />
        <activity android:name=".ManageEmployeeOptions" />
        <activity android:name=".EmployeePayroll" />
        <activity android:name=".chef_home" />
        <activity android:name=".host_home" />
        <activity android:name=".menu_home_canorder" />
        <activity android:name=".menu_home_canorder3" />
        <activity android:name=".modify_account" />
        <activity android:name=".payment_type" />
        <activity android:name=".PaymentDetails" />
        <activity android:name=".customer_reservation" />
        <activity android:name=".order_type" />
        <activity android:name=".driver_available_orders" />
        <activity android:name=".driver_current_order" />
        <activity android:name=".delivery_address" />
        <activity android:name=".busboy_tablestatus" />
        <activity android:name=".busboy_home" />
        <activity android:name=".FoodList" />
        <activity android:name=".food_detail" />
        <activity android:name=".clockinout" />
    </application>

</manifest>